.auth-container {
    background-image: url(./assets/images/auth-bg.jfif);
    background-position: center center;
    background-size: cover;
}
.bg-overlay {
    background: linear-gradient(45deg,rgba(47,140,96,0.7),rgba(0,0,0,0.5));
}
.sidebar-container {
    background-color: #1F263E;
}
.sidebar-container .ps-sidebar-container {
    background-color: #1F263E;
    height: 100vh;
    border-radius: 0 45px 0 0;
    margin-right: 10px;
    
}
.sidebar-container .ps-menu-button {
    color: #fff !important;
}
.sidebar-container .logo-menu-item:hover {
    background: transparent ;
}
.sidebar-container .ps-menu-button:hover {
    background-color: rgba(47, 140, 96, 0.5) !important;
}
.header-container{
    background-image: url(./assets/images/bg-header.png);
    background-size: cover;
}
.delete-btn {
    background-color: white;
    border: 2px solid red;
    color: red;
}